## 1. Preparacion del data set

In [ ]:
# Dependencias
# pip install pandas
# pip install pyarrow
# pip install numpy
# pip install matplotlib
# pip install seaborn
# pip install scikit-learn

In [2]:
import glob
import os
import pandas as pd

In [6]:
# Ruta de los .parquet
DATA_PATH = "datos_examen"

print("Archivos encontrados en datos_examen:")
for f in os.listdir(DATA_PATH):
    print(" -", f)

# Cargar tabla principal (application)
app = pd.read_parquet(os.path.join(DATA_PATH, "application_.parquet"))

print("\nDataset application_ cargado correctamente.")
print("Dimensiones:", app.shape)

app.head()

Archivos encontrados en datos_examen:
 - application_.parquet
 - bureau.parquet
 - bureau_balance.parquet
 - credit_card_balance.parquet
 - HomeCredit_columns_description.parquet
 - installments_payments.parquet
 - POS_CASH_balance.parquet
 - previous_application.parquet

Dataset application_ cargado correctamente.
Dimensiones: (307511, 122)

,SK_ID_CURR,TARGET,NAME_CONTRACT_TYPE,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,...,FLAG_DOCUMENT_18,FLAG_DOCUMENT_19,FLAG_DOCUMENT_20,FLAG_DOCUMENT_21,AMT_REQ_CREDIT_BUREAU_HOUR,AMT_REQ_CREDIT_BUREAU_DAY,AMT_REQ_CREDIT_BUREAU_WEEK,AMT_REQ_CREDIT_BUREAU_MON,AMT_REQ_CREDIT_BUREAU_QRT,AMT_REQ_CREDIT_BUREAU_YEAR
0,100002,1,Cash loans,M,N,Y,0,202500.0,406597.5,24700.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,1.0
1,100003,0,Cash loans,F,N,N,0,270000.0,1293502.5,35698.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
2,100004,0,Revolving loans,M,Y,Y,0,67500.0,135000.0,6750.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
3,100006,0,Cash loans,F,N,Y,0,135000.0,312682.5,29686.5,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
4,100007,0,Cash loans,M,N,Y,0,121500.0,513000.0,21865.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0

In [7]:
# Revisar valores nulos por columna
nulls = app.isnull().sum().sort_values(ascending=False)
nulls.head(20)

COMMONAREA_AVG              214865
COMMONAREA_MODE             214865
COMMONAREA_MEDI             214865
NONLIVINGAPARTMENTS_MEDI    213514
NONLIVINGAPARTMENTS_MODE    213514
NONLIVINGAPARTMENTS_AVG     213514
FONDKAPREMONT_MODE          210295
LIVINGAPARTMENTS_AVG        210199
LIVINGAPARTMENTS_MEDI       210199
LIVINGAPARTMENTS_MODE       210199
FLOORSMIN_MODE              208642
FLOORSMIN_AVG               208642
FLOORSMIN_MEDI              208642
YEARS_BUILD_AVG             204488
YEARS_BUILD_MODE            204488
YEARS_BUILD_MEDI            204488
OWN_CAR_AGE                 202929
LANDAREA_MEDI               182590
LANDAREA_AVG                182590
LANDAREA_MODE               182590
dtype: int64

## 2. EDA – Análisis Exploratorio de Datos

In [ ]:
## Tipos de datos por columna
print("Dimensiones del dataset:", app.shape)

print("\nTipos de datos por columna:")
print(app.dtypes.value_counts())

print("\nListado completo de tipos de datos por columna:")
print(app.dtypes)

Dimensiones del dataset: (307511, 122)

Tipos de datos por columna:
float64    65
int64      41
object     16
Name: count, dtype: int64

Listado completo de tipos de datos por columna:
SK_ID_CURR                      int64
TARGET                          int64
NAME_CONTRACT_TYPE             object
CODE_GENDER                    object
FLAG_OWN_CAR                   object
                               ...
AMT_REQ_CREDIT_BUREAU_DAY     float64
AMT_REQ_CREDIT_BUREAU_WEEK    float64
AMT_REQ_CREDIT_BUREAU_MON     float64
AMT_REQ_CREDIT_BUREAU_QRT     float64
AMT_REQ_CREDIT_BUREAU_YEAR    float64
Length: 122, dtype: object